- hosts: vagrant
  sudo: true
  user: vagrant
  tasks:
    - apt: pkg={{item}} update_cache=yes state=latest
      with_items:
        - openjdk-7-jdk

- hosts: vagrant
  sudo: true
  user: vagrant
  roles:
    - elasticsearch
  vars:
    app_dir: /opt/elasticsearch
    data_dir: /data
    log_dir: /var/log/elasticsearch

- hosts: vagrant
  sudo: true
  user: vagrant
  roles:
    - kibana
  vars:
    app_dir: /opt/kibana

- hosts: vagrant
  sudo: true
  user: vagrant
  roles:
    - nginx
  vars:
    kibana_dir: /opt/kibana

- hosts: vagrant
  sudo: true
  user: vagrant
  roles:
    - fluentd
