- shell: curl -L https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.1.1.tar.gz | tar -xz
- command: mv elasticsearch-1.1.1 {{app_dir}}
- file: path={{app_dir}} state=directory recurse=yes owner=vagrant group=vagrant mode=0755
- file: path={{data_dir}} state=directory recurse=yes owner=vagrant group=vagrant mode=0755
- file: path={{log_dir}} state=directory recurse=yes owner=vagrant group=vagrant mode=0755
- template: src=elasticsearch.yml dest={{app_dir}}/config owner=vagrant group=vagrant mode=0644
- shell: curl -L http://github.com/elasticsearch/elasticsearch-servicewrapper/tarball/master | tar -xz
- shell: mv *servicewrapper*/service {{app_dir}}/bin
- command: "{{app_dir}}/bin/service/elasticsearch install"
- shell: ln -s `readlink -f {{app_dir}}/bin/service/elasticsearch` /usr/local/bin/rcelasticsearch

